@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    
--clr-Strong-green: hsl(171, 66%, 44%);
--clr-Light-Blue: hsl(233, 100%, 69%);
--clr-Dark-Gray: hsl(210, 10%, 33%);
--clr-light-Gray: hsl(201, 11%, 66%);

}
body{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}
header{
    width: 100%;
}
header img{
    width: rem;
    position: relative;
}
.logo img{
    width: 6rem;
    display: block;
    position: relative;
    margin-top: -15rem;
    margin-bottom: 3.5rem;
    margin-left: auto;
    margin-right: auto;
}
header h1{
    text-align: center;
    color: var(--clr-Dark-Gray);
    margin-bottom: 1rem;
    font-size: 4rem;
    margin-left: 10rem;
    margin-right: 10rem;
}
header p{
    text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;
    font-size: 1.5rem;
    color: var(--clr-light-Gray);
    margin-bottom: 2rem;
}

header .download1{
    width: 15rem;
    height: 4rem;
    margin-left: 25rem;
    margin-right: 1rem;
    border-radius: 2rem;
    color: #fff;
    border-color: var(--clr-Strong-green);
    background-color: var(--clr-Strong-green);
    border-color: var(--clr-Strong-green);
    box-shadow: 10px 1px 20px -3px hsl(171, 66%, 44%);
    cursor: pointer;

}
header .download2{
    width: 15rem;
    height: 4rem;
    border-radius: 2rem;
    color: #fff;
    background-color: var(--clr-Light-Blue);
    border-color: var(--clr-Light-Blue);
    box-shadow: 10px 1px 20px -3px hsl(233, 100%, 69%);
    cursor: pointer;
}
.keep{
    text-align: center;
    margin-top: 5rem;
    margin-left: 13rem;
    margin-right: 13rem;
    margin-bottom: 5rem;
} 
.keep h2{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--clr-Dark-Gray);
}
.keep p{
    font-size: 1.5rem;
    color: var(--clr-light-Gray);
}
.quick{
    text-align: justify;
}
.quick img{
    float: left;
    width: 45%;
    height: auto;
    margin-right: 7rem;
}
.quick h2{
    color: var(--clr-Dark-Gray);
    padding-top: 2rem;
    font-size: 1.8rem;
    padding-bottom: 1rem;
}
.quick p{
    padding-right: 10rem;
    font-size: 1.5rem;
    color: var(--clr-light-Gray);
}

.access{
    text-align: center;
    margin-top: 8rem;
}
.access h2{
    font-size: 2rem;
    color: var(--clr-Dark-Gray);
    margin-bottom: 1.5rem;

}
.access p{
    font-size: 1.2rem;
    margin-left: 20.1rem;
    margin-right: 20.1rem;
    margin-bottom: 5rem;
    color: var(--clr-light-Gray);
}

.access-img img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.supercharge{
    text-align: center;
}
.supercharge{
    margin-top: 3rem;
}
.supercharge h2{
    color: var(--clr-Dark-Gray);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}
.supercharge p{
    font-size: 1.4rem;
    color: var(--clr-light-Gray);
    margin-bottom: 5rem;
}
.logos{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    margin-bottom: 3rem;
}
.logos h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--clr-Dark-Gray);
}
.logos img{
    margin-bottom: 1rem;
}
.logos p{
    font-size: 1.2rem;
    padding-left: 2rem;
    padding-right: rem;
    color: var(--clr-light-Gray);
}
.company{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    margin-bottom: 5rem;
}
.company img{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-top: 2rem;
}
.clipboard{
    text-align: center;
}
.clipboard h2{
    font-size: 2rem;
    color: var(--clr-Dark-Gray);
    margin-bottom: 1.5rem;
}
.clipboard p{
    font-size: 1.2rem;
    margin-left: 20rem;
    margin-right: 20rem;
    color: var(--clr-light-Gray);
    margin-bottom: 5rem;
}


.ios{
    width: 15rem;
    height: 4rem;
    margin-left: 25rem;
    margin-right: 1rem;
    border-radius: 2rem;
    color: #fff;
    border-color: var(--clr-Strong-green);
    background-color: var(--clr-Strong-green);
    border-color: var(--clr-Strong-green);
    box-shadow: 10px 1px 20px -3px hsl(171, 66%, 44%);
    cursor: pointer;
    font-size: 1.1rem;
    margin-bottom: 5rem;

}
.mac{
    width: 15rem;
    font-size: 1.1rem;
    margin-right: 20rem;
    height: 4rem;
    border-radius: 2rem;
    color: #fff;
    background-color: var(--clr-Light-Blue);
    border-color: var(--clr-Light-Blue);
    box-shadow: 10px 1px 20px -3px hsl(233, 100%, 69%);
    cursor: pointer;
    margin-bottom: 5rem;
}
.end{
    background-color: hsl(201, 11%, 85%);
}
.end img{
    width: 4rem;
    margin-top: 2rem;
    margin-left: 8rem;

}
.text{
    display: grid;
}
.end ul{
    list-style: none;
    max-width: 40px;
}
ul li{
    display: inline-block;
    margin: 5px 20px;
}
.faq{
    margin-left: 18rem;
    margin-top: -4.5rem;
    font-size: ;
    margin-left: rem;
}
.privacy{
    margin-top: -6rem;
    margin-left: 32rem;
}
.install{
    margin-left: 43rem;
    margin-top: -7rem;
}
.social img{
    width: 1.5rem;
    margin-right: 8rem;
    margin-top: -20rem;
    margin-bottom: 3rem;

}
.social .facebook{
    margin-left: 60rem;
    padding-right: rem;

}
.social .twitter{
    margin-left: -15rem;
}
.social .insta{
    margin-left: -15rem;
}
@media (max-width: 765px){
    header img {
        background: url(../images/bg-header-mobile.png);
        background-repeat: no-repeat;
    }
    header .logo{
        margin-left: auto;
        margin-right: auto;
        display: block;
        

    }
    header{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .logo img{
        width: 7rem;
    }
    header h1{
        font-size: 2.1rem;
        text-align: center;
        margin-left: 4rem;
        margin-right: 4rem;
    }
    header p{
        margin-left: -4rem;
        margin-right: -4rem;
        font-size: 1rem;
    }
    button{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    header .download1{
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 2rem;
        width: 20rem;
    }
    header .download2{
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 8rem;
        width: 20rem;

    }
    .keep{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .quick img{
        width: 100%;
        margin-bottom: 4rem;
    }
    .quick h2{
        text-align: center;
    }
    .quick p{
        text-align: center;
        margin-right: -10rem;
        margin-bottom: 3rem;

    }
    .access h2{
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 3rem;
    }
    .access p{
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 1.3rem;
    }
    .access-img img{
        width: 100%;
        margin-bottom: 2rem;

    }
    .supercharge p{
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 5rem;
    }
    .logos{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .logos img{
        margin-top: rem;
    }
    .company{
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .company img{
        margin-bottom: 2rem;
    }
    .clipboard h2{
        margin-left: 4rem;
        margin-right: 4rem;
    }
    .clipboard p{
        text-align: center;
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .ios{
        margin-left: 5rem;
        margin-right: 5rem;
        width: 70%;
    }
    .mac{
        margin-left: 5rem;
        margin-right: 5rem;
        width: 70%;

    }
    .end img{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .end .faq{
        margin-top: 5rem;
        margin-left: 12rem;
    }
    .end .privacy{
        margin-top: 1rem;
        margin-left: 12rem;
    }
    .end .install{
        margin-left: 12rem;
        margin-top: 1rem;
    }
    .social{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25rem;
        margin-left: -50rem;
        padding-left: 10rem;
        padding-right: 30rem;
    }
    .social .facebook{
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .social .insta{
        margin-left: -10rem;
    }

    
    
    
    

}